<h1>Gerador de Senhas</h1>


<div>
  <label > Informe o comprimento</label> <br/>
  <input type="text">
</div>



<div>
  <label >Usar Letras
    <input type="checkbox" name="letras">
  </label>
</div>
<div>
  <label >Usar Numeros
    <input type="checkbox" name="numeros">
  </label>
</div>
<div>
  <label >Usar Simbolos
    <input type="checkbox" name="simbolos">
  </label>
</div>

<div>
  <button (click)="onButtonClick()" >Gerar</button>
</div>


<div>
  <label >Sua senha
    <input [value]="obterSenha()" />
  </label>
</div>